.form {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.form form {
  background-color: #f7f7f7;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
  border-radius: 20px;
  padding: 8px 100px;
}

.form h2 {
  font-size: 32px;
  font-weight: 400;
  color: #212121;
}

@media screen and (max-width: 768px) {
  .form {
    align-items: center;
  }

  .form form {
    margin-bottom: 1rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  .form h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  /* .form form {
    margin-bottom: 1rem;
  } */
}
